/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1C2833DD;
    background-alt: #101010FF;
    foreground:     #FFFFFFFF;
    selected:       #45B39DFF;
    active:         #98EF79FF;
    urgent:         #E06B74FF;

	top-bar:        #8FBABCFF;
	bordercolor:    @selected;
}
